body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
}
#output {
    text-align: left;
    font-family: monospace;
    white-space: pre-wrap;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    max-width: 80%;
}
